/* Michael Koch
 * CS 3744
 * Project 2: Stylish Resume
 */

 :root {
     font-size: 100%;
     --banner-size: 12em;
 }

 html {
     box-sizing: border-box;
 }

.banner {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: beige;
    width: 100%;
    height: auto;
    text-align: center;
    min-height: var(--banner-size);
}

#headshot {
    width: auto;
    height: auto;
    max-width: 20%;
    max-height: 20%;

}

.resume-section:target {
    scroll-margin-top: var(--banner-size);
}

#main-resume > .resume-section:target ~ .resume-section:last-child, #main-resume > .resume-section {
    padding-top: var(--banner-size);
    display: none;
}

#main-resume > .resume-section:last-child, #main-resume > .resume-section:target {
    display: block;
}

.resume-section::after {
    content: "\a";
    white-space: pre;
}
